site_name: llmflows
repo_url: https://github.com/stoyan-stoyanov/llmflows
theme:
  name: material
  logo: llmflows_last_logo.png
  features:
    - navigation.sections
    - navigation.tracking
    - navigation.path
    - navigation.top
    - search.suggest 
    - search.highlight
    - content.tabs.link
    - content.code.annotations
    - content.code.copy
  language: en
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: llmflows
      primary: white
      toggle:
        icon: material/weather-night 
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

plugins:
  - search
  - mkdocstrings

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.emoji:
     emoji_index: !!python/name:materialx.emoji.twemoji
     emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.superfences
  - admonition
  - attr_list


nav:
  - Home: index.md
  - User Guide:
    - Introduction: user_guide/Introduction.md
    - LLM Flows: user_guide/LLM Flows.md
    - Async Flows: user_guide/Async Flows.md
    - Vector Stores: user_guide/Vector Stores.md
    - Question Answering: user_guide/Question Answering.md
    - Vector Stores in Flows: user_guide/Vector Stores in Flows.md
    - Functional FlowSteps: user_guide/Functional FlowSteps.md
    - Callbacks: user_guide/Callbacks.md
    - LLMFlows with FastAPI: user_guide/LLMFlows with FastAPI.md
    - Agents: user_guide/Agents.md
    - Conclusion: user_guide/Conclusion.md
    - FAQ: user_guide/FAQ.md
#    - Agents: user_guide/Agents.md
#    - Flask Apps: user_guide/Flask Apps.md
#    - FastAPI Apps: user_guide/FastAPI Apps.md
  - API Reference:
    - LLMs: 
      # - Overview: api_reference/llms/llms.md
      - BaseLLM: api_reference/llms/llm.md
      - OpenAI: api_reference/llms/openai.md
      - OpenAIChat: api_reference/llms/openai_chat.md
      - MessageHistory: api_reference/llms/message_history.md
      - OpenAIEmbeddings: api_reference/llms/openai_embeddings.md
    - Prompts: 
      # - Overview: api_reference/prompts/prompts.md
      - PromptTemplate: api_reference/prompts/prompt_template.md
    - Flows:
      # - Overview: api_reference/flows/flows.md
      - BaseFlow: api_reference/flows/base_flow.md
      - Flow: api_reference/flows/flow.md
      - AsyncBaseFlow: api_reference/flows/async_base_flow.md
      - AsyncFlow: api_reference/flows/async_flow.md
    - Flowsteps:
      # - Overview: api_reference/flowsteps/flowsteps.md
      - BaseFlowStep: api_reference/flowsteps/base_flowstep.md
      - FlowStep: api_reference/flowsteps/flowstep.md
      - ChatFlowStep: api_reference/flowsteps/chat_flowstep.md
      - FunctionalFlowStep: api_reference/flowsteps/functional_flowstep.md
      - VectorStoreFlowStep: api_reference/flowsteps/vectorstore_flowstep.md
      - AsyncBaseFlowStep: api_reference/flowsteps/async_base_flowstep.md
      - AsyncFlowStep: api_reference/flowsteps/async_flowstep.md
      - AsyncChatFlowStep: api_reference/flowsteps/async_chat_flowstep.md
      - AsyncFunctionalFlowStep: api_reference/flowsteps/async_functional_flowstep.md
      - AsyncVectorStoreFlowStep: api_reference/flowsteps/async_vectorstore_flowstep.md
    - VectorStores:
      # - Overview: api_reference/vectorstores/vectorstores.md
      - VectorDoc: api_reference/vectorstores/vector_doc.md
      - Pinecone: api_reference/vectorstores/pinecone.md
    - Callbacks:
      # - Overview: api_reference/callbacks/callbacks.md
      - BaseCallback: api_reference/callbacks/base_cb.md
      - FunctionalCallback: api_reference/callbacks/functional_cb.md
      - AsyncBaseCallback: api_reference/callbacks/async_base_cb.md
      - AsyncFunctionalCallback: api_reference/callbacks/async_functional_cb.md